  <!--标题栏按钮-->
  <div command="window-caption" >xlsSplit</div>
   <!--标题栏按钮-->
  <div #window-caption-buttons>  
  		<a command="window-min" ></a>
  		<a command="window-max" ></a>
  		<a command="window-close" ></a> 
  </div> 
	
  <!--用于拖动改变窗口大小的边框-->
  <div style="behavior:windowSizer" border="4px" corner="8px" >
    <div sizer="left_top"></div>
    <div sizer="left"></div>
    <div sizer="left_bottom"></div>
    <div sizer="top"></div>
    <div sizer="bottom"></div>
    <div sizer="right_top"></div>
    <div sizer="right"></div>
    <div sizer="right_bottom"></div>
  </div>
